.navigationItems{
    display: flex;
    color: white;
    background-color: #020029;
    justify-content: space-between;
    align-items: center;
    gap:2rem ;
    padding: 0 20px;
    min-height: 80px;
    position: relative;
    top: 0;
    left: 0;
   
    
}

.brand_title{
    text-transform: uppercase;
    color: #F9F9F9;
    font-weight: 400;
    font-size: 20px;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

li{
    list-style: none;
}
.navMenu li a{
    transition: .7 ease-in-out;
}

.navMenu li a:hover{
    color: #F94892;
}

.active{
    color: aquamarine;
}

.humberger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}

@media (max-width:600px){
    .humberger{
        display: block;
    }

    .humberger.active .bar:nth-child(2){
        opacity: 0;
    }
    .humberger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .humberger.active .bar:nth-child(3){
        transform:  translateY(-8px) rotate(-45deg);
    }
    .navMenu{
        position: absolute;
        left: -110%;
        top: 64px;
        gap: 0;
        flex-direction: column;
        background-color: #020029;
        width: 100%;
        text-align: center;
        transition: .3s;
        margin-left: -40px;
      
    }
    .navItem{
        margin: 16px 0;
    }
    .navMenu.active{
        left: 0;
    }
}

.active{
    color: blueviolet;
}